body {
	font-family: Helvetica;
	font-size: 22px;
	color: seashell;
	background-color: black;
	opacity: 0.9;
}
/* --- Header Content --- */
.header-container {
	display: flex;
	align-items: center;
	position: fixed;
	top: 0px;
	border-bottom: seashell 1px solid;
	height: 69px;
	width: 100%;
	z-index: 1;
	background-color: black;
}
/* Header container creates a flex box 
and centers the content initalizing the width and height */

.header-container .logo {
	flex-grow: 1;
	padding-left: 10px;
}

.header-container img {
	height: 50px;
}

.header-container span {
	padding-right: 30px;
}
/* growing the logo gives the container that
houses the logo 50% of container space */

.header-container a {
	color: seashell;
}

/* --- Main Content ---*/
.main-container {
	display: flex;
	justify-content: center;
	position: relative;
	top: 65px;
}

.main-container .content {
	background-image: url("../../resources/images/img-mission-background.jpg");
	height: 700px;
	width: 1200px;
}

.mission-container {
	background-color: black;
	text-align: center;
	position: relative;
	top: 275px;
}

/* --- Main Content 2 --- */
/* create container, position it relative to content above
center the content and create a column */
.main-container2 {
	position: relative;
	top: 150px;
	display: flex;
	align-items: center;
	flex-direction: column;
}
/* create a boundary for the images to live in and create the
required space-between using padding (addition) */
.main-container2 .photo-content img {
	height: 200px;
	width: 300px;
	padding-right: 50px;
}
 /* Set the width of the content and place all content in a container */
.main-container2 .photo-content {
	width: 1000px;
	display: inline-flex;	
}
.main-container2 p {
	text-align: center;
}




