body {
	font-family: Helvetica;
	font-size: 22px;
	color: seashell;
	background-color: black;
	opacity: 0.9;
}
/* --- Header Content --- */
.header-container {
	display: flex;
	align-items: center;
	position: fixed;
	top: 0px;
	border-bottom: seashell 1px solid;
	height: 69px;
	width: 100%;
	z-index: 1;
	background-color: black;
}
/* Header container creates a flex box 
and centers the content initalizing the width and height */

.header-container .logo {
	flex-grow: 1;
	padding-left: 10px;
}

.header-container img {
	height: 50px;
}

.header-container span {
	padding-right: 30px;
}
/* growing the logo gives the container that
houses the logo 50% of container space */

.header-container a {
	color: seashell;
}

/* --- Main Content ---*/
.main-container {
	display: flex;
	justify-content: center;
	position: relative;
	top: 65px;
}

.main-container .content {
	background-image: url("../../resources/images/img-mission-background.jpg");
	height: 700px;
	width: 1200px;
}

.mission-container {
	background-color: black;
	text-align: center;
	position: relative;
	top: 275px;
}

/* --- Main Content 2 --- */
/* create container, position it relative to content above
center the content and create a column */
.main-content-header {
	position: relative;
	top: 100px;
	text-align: center;
}

.main-container2 {
	position: relative;
	top: 150px;
	display: flex;
	justify-content: center;
}

.main-container2 img{
	height: 200px;
	width: 300px;
	padding-right: 50px;

}

.main-container2 .photo-content p {
	padding-top: 10px;
	display: flex;
	justify-content: center;
}

.main-container3 {
	display: flex;
	justify-content: center;

}

.main-container3 .content {
	background-image: url("../../resources/images/img-locations-background.jpg");
	position: relative;
	top: 250px;
	height: 500px;
	width: 1200px;
}

.main-container3 .content2 {
	display: flex;
	justify-content: space-around;
}

.main-container3 .content-container {
	text-align: center;
	position: relative;
	top: 75px;	

}

.main-container3 .content-container2 {
	background-color: black;
	width: 300px;
	text-align: center;
	padding: 2px;
	position: relative;
	top: 75px;
}








